# Telegram shasei Bot on Cloudflare Workers

一个射精记录 bot，托管在 Cloudflare Workers 上。

demo: [@shasei_bot](https://t.me/shasei_bot)

## 功能

- 记录射精时间与使用的小菜
- 分析射精频率，导出为 html 图表
- 导入与导出数据

## 命令列表

- `/biu` - 射精！
- `/biu <material>` - 射精！并记录（分享）使用的小菜，只能是文字
- `/okazu` - 全局随机获取一个小菜
- `/analysis <duration>` - 分析射精频率，并导出为 html 图表。duration 遵循 systemd timespan 格式，例如：30d, 1w, 1m, 1y。
- `/start` - 查看帮助信息
- `/export` - 导出数据
- `/import <json file url>` - 导入数据。json 的格式必须为 `{ time: Date; material?: string; }[]`
